<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Словарь</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Навигация:</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Словарь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/word/add">Добавить слово</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Карусель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фразы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/article/list">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Тексты</a>
                        </li>
                    </ul>
                </div>
                <form class="navbar-form float-right" action="#" th:action="@{/dictionary/find}" th:object="${word}" method="POST">
                    <div class="input-group">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" th:field="*{word}">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="'Словарь: ' + ${user}">Словарь</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-8" scope="col">Слово</th>
                        <th class="col-1" scope="col">Тип</th>
                        <th class="col-3" scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="word:${words}">
                        <td th:text="${word.word}">Слово</td>
                        <td th:text="${word.class.simpleName}">Тип</td>
                        <td><a href="#">Просмотреть</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="d-flex justify-content-center">
        <nav aria-label="Pages">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="glyphicon glyphicon-fast-backward"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="glyphicon glyphicon-backward"></i>
                    </a>
                </li>
                <li class="page-item" th:each="page:${pages}">
                    <a class="page-link" href="#" th:text="${page}">Страница</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="glyphicon glyphicon-forward"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="glyphicon glyphicon-fast-forward"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>

    <!-- Изменить простое слово -->
    <div class="modal" id="word_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=word}" th:object="${word}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="word-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="word-id" th:field="*{id}" />
                        <label for="word-word">Слово</label>
                        <input type="text" class="form-control" id="word-word" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить существительное -->
    <div class="modal" id="noun_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=noun}" th:object="${noun}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="noun-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="noun-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="single">Единственное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="single"  th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="plural">Множественное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="plural" th:field="*{plural}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить глагол -->
    <div class="modal" id="verb_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=verb}" th:object="${verb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="verb-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="verb-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="infinitive">Неопределенная форма</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="infinitive" th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="past">Прошедшее время</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="past" th:field="*{past}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="participle2">Причастие прошедшего времени</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="participle2" th:field="*{participle}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить прилагательное -->
    <div class="modal" id="adjective_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=adjective}" th:object="${adjective}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="adjective-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adjective-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="positive">Положительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="positive" th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="comparative">Сравнительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="comparative" th:field="*{comparative}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="superative">Превосходная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="superative" th:field="*{superative}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить наречие -->
    <div class="modal" id="adverb_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=adverb}" th:object="${adverb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="adverb-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adverb-id" th:field="*{id}" />
                        <label for="adverb">Наречие</label>
                        <input type="text" class="form-control" id="adverb" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить причастие -->
    <div class="modal" id="participle_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=participle}" th:object="${participle}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="participle-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="participle-id" th:field="*{id}" />
                        <label for="participle">Причастие</label>
                        <input type="text" class="form-control" id="participle" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Изменить причастие -->
    <div class="modal" id="phrase_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/save?type=phrase}" th:object="${phrase}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="phrase-modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="phrase-id" th:field="*{id}" />
                        <label for="phrase">Фраза</label>
                        <input type="text" class="form-control" id="phrase" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>