<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::libs (example_add)">
    <title th:fragment="title">Добавить пример</title>
</head>
<body>
    <header>
        <div th:insert="fragments::links ('example/add')">
            <th:block th:fragment="addons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example_save" onclick="fillSaveForm(null,'','')">Добавить пример</button>
            </th:block>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="'Слово: ' + ${word.word} +', Перевод: ' + ${translation.description}">Перевод</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-5" scope="col">Пример</th>
                        <th class="col-5" scope="col">Перевод</th>
                        <th class="col-2" scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="examp:${examples}">
                        <td th:text="${examp.text1}">Пример</td>
                        <td th:text="${examp.text2}">Перевод</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#example_save" th:attr="onclick=|fillSaveForm(${examp.id},'${examp.text1}','${examp.text2}')|">Изменить</a>
                            <a href="#" data-toggle="modal" data-target="#example_del" th:attr="onclick=|fillDelForm(${examp.id},'${examp.text1}','${examp.text2}')|">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Добавить (изменить) пример -->
    <div class="modal" id="example_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/example/save}" th:object="${example}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="id" th:field="*{id}" />
                        <input type="text" hidden="true" id="translation_id" th:field="*{translation.id}" />
                        <div class="col-md-12">
                            <label for="text1">Пример</label>
                            <textarea class="form-control" rows="5" id="text1" th:field="*{text1}">Пример</textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="text2">Перевод</label>
                            <textarea class="form-control" rows="5" id="text2" th:field="*{text2}">Перевод</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Удалить пример -->
    <div class="modal" id="example_del">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/example/del}" th:object="${example}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Удалить пример?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="d_id" th:field="*{id}" />
                    <input type="text" hidden="true" id="translation_id" th:field="*{translation.id}" />
                    <p id="d_text1">Пример</p>
                    <p id="d_text2">Перевод</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function fillSaveForm(id, text1, text2) {
            $("#id").val(id);
            $("#text1").val(text1);
            $("#text2").val(text2);
            $("#modal-title").text(id==null ? "Добавить пример" : "Изменить пример");
        }

        function fillDelForm(id, text1, text2) {
            $("#d_id").val(id);
            $("#d_text1").text(text1);
            $("#d_text2").text(text2);
        }
    </script>
</body>
</html>