<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Фразы</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <div th:insert="menu::links (phrase)" />
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="'Фразы. Пользователь: ' + ${user}">Фразы</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-5" scope="col">Фраза</th>
                        <th class="col-5" scope="col">Перевод-подсказка</th>
                        <th class="col-2" scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="phrase:${pagePhrases.content}">
                        <td th:text="${phrase.word}">Фраза</td>
                        <td th:text="${phrase.tooltip}">Перевод-подсказка</td>
                        <td>
                            <a th:href="@{/word(wordId=${phrase.id})}">Просмотреть</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center">
        <div th:insert="menu::pages (phrase)" />
    </footer>
</body>
</html>