<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::libs (phrases)">
    <title th:fragment="title">Фразы</title>
</head>
<body>
    <header>
        <div th:insert="fragments::links (phrases)">
            <th:block th:fragment="addons" />
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="'Пользователь: ' + ${user}">Фразы</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-5" scope="col">Фраза</th>
                        <th class="col-5" scope="col">Перевод-подсказка</th>
                        <th class="col-2" scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="phrase:${pagePhrases.content}">
                        <td th:text="${phrase.word}">Фраза</td>
                        <td th:text="${phrase.tooltip}">Перевод-подсказка</td>
                        <td>
                            <a th:href="@{/word(wordId=${phrase.id})}">Просмотреть</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center">
        <div th:insert="fragments::pages (phrases)" />
    </footer>
</body>
</html>