<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::libs (text)">
    <title th:fragment="title">Тексты</title>
</head>
<body>
    <header>
        <div th:insert="fragments::links ('text')">
            <th:block th:fragment="addons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#text_upload">Загрузить текст</button>
            </th:block>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" th:text="'Слова для добавления в словарь '  + ${user} + ', Всего слов: ' + ${count}">Слова для добавления в словарь</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-8" scope="col">Слово</th>
                        <th class="col-1" scope="col">Частота</th>
                        <th class="col-3" scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="word:${pageWords.content}">
                        <td th:text="${word.word}">Слово</td>
                        <td th:text="${word.count}">Частота</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#worditem_save" th:attr="onclick=|fillSaveForm(${word.id},'${word.word}')|">Добавить в словарь</a>
                            <a href="#" data-toggle="modal" data-target="#worditem_del" th:attr="onclick=|fillDelForm(${word.id},'${word.word}')|">Исключить слово</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center">
        <div th:insert="fragments::pages (text)" />
    </footer>

    <!-- Загрузить текст -->
    <div class="modal" id="text_upload">
        <div class="modal-dialog">
            <form class="modal-content" th:action="@{/text/upload}" enctype="multipart/form-data" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Загрузить текст</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Загрузить файл</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="upload" name="upload" accept="text/plain,application/pdf">
                                <label class="custom-file-label" for="upload">Имя файла</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Сохранить слово -->
    <div class="modal" id="worditem_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/text/add}" th:object="${wordItem}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Добавить в словарь?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="s_id" th:field="*{id}" />
                    <p id="s_word">Слово</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить из текста и сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Исключить слово -->
    <div class="modal" id="worditem_del">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/text/del(page=${page})}" th:object="${wordItem}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Исключить слово?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="d_id" th:field="*{id}" />
                    <p id="d_word">Слово</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $("#upload").on("change",function(){
            var filename = $(this).prop("files")[0]["name"];
            $(this).next(".custom-file-label").html(filename);
        })

        function fillSaveForm(id, word) {
            $("#s_id").val(id);
            $("#s_word").text(word);
        }

        function fillDelForm(id, word) {
            $("#d_id").val(id);
            $("#d_word").text(word);
        }
    </script>
</body>
</html>