<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить перевод</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" th:text="'Тип:' + ${word.word}">Тип</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/dictionary">Словарь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/word/add">Добавить слово</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/roundrobin">Карусель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/phrase/list">Фразы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/article/list">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Тексты</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#translation_save" onclick="fillSaveForm(null,'','')">Добавить перевод</button>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-7" scope="col">Перевод</th>
                <th class="col-2" scope="col">Источник</th>
                <th class="col-3" scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trans:${translations}">
                <td th:text="${trans.description}">Перевод</td>
                <td th:text="${trans.source}">Источник</td>
                <td>
                    <a th:href="@{/example/add(translationId=${trans.id})}">Примеры</a>
                    <a href="#" data-toggle="modal" data-target="#translation_save" th:attr="onclick=|fillSaveForm(${trans.id},'${trans.description}','${trans.source}')|">Изменить</a>
                    <a href="#" data-toggle="modal" data-target="#translation_del" th:attr="onclick=|fillDelForm(${trans.id},'${trans.description}','${trans.source}')|">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Добавить (изменить) перевод -->
    <div class="modal" id="translation_save">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/translation/save}" th:object="${translation}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Заголовок</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="id" th:field="*{id}" />
                        <div class="col-md-12">
                            <label for="translation">Перевод</label>
                            <textarea class="form-control" id="translation" rows="5" th:field="*{description}">Перевод</textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="source">Источник</label>
                            <input type="text" class="form-control" id="source" th:field="*{source}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Удалить перевод -->
    <div class="modal" id="translation_del">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/translation/del}" th:object="${translation}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Удалить перевод?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="d_id" th:field="*{id}" />
                    <p id="d_translation">Перевод</p>
                    <p id="d_source">Источник</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function fillSaveForm(id, translation, source) {
            $("#id").val(id);
            $("#translation").val(translation);
            $("#source").val(source);
            $("#modal-title").text(id==null ? "Добавить перевод" : "Изменить перевод");
        }

        function fillDelForm(id, translation, source) {
            $("#d_id").val(id);
            $("#d_translation").text(translation);
            $("#d_source").text(source);
        }
    </script>
</body>
</html>