<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотреть слово</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Навигация:</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/dictionary">Словарь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Просмотр слова</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/word/add">Добавить слово</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/roundrobin">Карусель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/phrase/list">Фразы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/article/list">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Тексты</a>
                        </li>
                    </ul>
                </div>
                <div th:switch="${word.class.simpleName}">
                    <div th:case="'Word'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${word.id},'${word.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${word.id},'${word.word}','Word')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${word.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Noun'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${noun.id},'${noun.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${noun.id},'${noun.word}','Noun')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${noun.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Verb'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${verb.id},'${verb.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${verb.id},'${verb.word}','Verb')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${verb.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Adjective'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${adjective.id},'${adjective.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${adjective.id},'${adjective.word}','Adjective')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${adjective.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Adverb'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${adverb.id},'${adverb.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${adverb.id},'${adverb.word}','Adverb')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${adjective.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Participle'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${participle.id},'${participle.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${participle.id},'${participle.word}','Participle')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${participle.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="'Phrase'">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_save" th:attr="onclick=|fillSaveWordForm(${phrase.id},'${phrase.word}')|">Изменить слово</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#word_del" th:attr="onclick=|fillDelForm(${phrase.id},'${phrase.word}','Phrase')|">Удалить слово</button>
                        <a th:href="@{/translation/add(wordId=${participle.id})}" class="btn btn-info" role="button">Редактировать переводы</a>
                    </div>
                    <div th:case="*">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" th:switch="${word.class.simpleName}">
                <h1 class="text-center" th:case="'Word'" th:text="${word.word}">Простое слово</h1>
                <h1 class="text-center" th:case="'Noun'" th:text="${noun.word} + ' ' + ${noun.plural}">Существительное</h1>
                <h1 class="text-center" th:case="'Verb'" th:text="${verb.word} + ' ' + ${verb.past} + ' ' + ${verb.participle}">Глагол</h1>
                <h1 class="text-center" th:case="'Adjective'" th:text="${adjective.word} + ' ' + ${adjective.comparative} + ' ' + ${adjective.superative}">Прилагательное</h1>
                <h1 class="text-center" th:case="'Adverb'" th:text="${adverb.word}">Наречие</h1>
                <h1 class="text-center" th:case="'Participle'" th:text="${participle.word}">Причастие</h1>
                <h1 class="text-center" th:case="'Phrase'" th:text="${phrase.word}">Фраза</h1>
                <h1 class="text-center" th:case="*">Неизвестный тип</h1>
            </div>
        </div>
        <dl class="row">
            <dt class="col-md-6">Тип</dt>
            <dd class="col-md-6" th:text="${word.class.simpleName}">Тип</dd>
        </dl>
        <dl class="row">
            <dt class="col-md-1">Перевод</dt>
            <dd class="col-md-11">
                <ul class="list-group" th:each="trans:${word.translations}">
                    <capture>
                        <blockquote class="blockquote text-center">
                            <p class="mb-0" th:text="${trans.description}">Перевод</p>
                            <footer class="blockquote-footer"><cite title="Источник" th:text="${trans.source}">Источник</cite></footer>
                        </blockquote>
                    </capture>
                    <li class="list-group-item" th:each="exmps:${trans.examples}">
                        <dl class="row">
                            <dt class="col-md-6" th:text="${exmps.text1}">Example</dt>
                            <dd class="col-md-6" th:text="${exmps.text2}">Пример</dd>
                        </dl>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="modal" id="word_save">
        <div class="modal-dialog" th:switch="${word.class.simpleName}">
            <!-- Изменить простое слово -->
            <form class="modal-content" th:case="'Word'" action="#" th:action="@{/word/save?type=word}" th:object="${word}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить слово?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" th:switch="${word.class.simpleName}">
                    <div class="form-group">
                        <input type="text" hidden="true" id="word-id" th:field="*{id}" />
                        <label for="word-word">Слово</label>
                        <input type="text" class="form-control" id="word-word" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить существительное -->
            <form class="modal-content" th:case="'Noun'" action="#" th:action="@{/word/save?type=noun}" th:object="${noun}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить существительное?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="noun-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="single">Единственное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="single"  th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="plural">Множественное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="plural" th:field="*{plural}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить глагол -->
            <form class="modal-content" th:case="'Verb'" action="#" th:action="@{/word/save?type=verb}" th:object="${verb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить глагол?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="verb-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="infinitive">Неопределенная форма</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="infinitive" th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="past">Прошедшее время</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="past" th:field="*{past}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="participle2">Причастие прошедшего времени</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="participle2" th:field="*{participle}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить прилагательное -->
            <form class="modal-content"  th:case="'Adjective'"action="#" th:action="@{/word/save?type=adjective}" th:object="${adjective}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить прилагательное?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adjective-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="positive">Положительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="positive" th:field="*{word}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="comparative">Сравнительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="comparative" th:field="*{comparative}" />
                        </div>
                        <label class="col-md-3 col-md-offset-9 control-label" for="superative">Превосходная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="superative" th:field="*{superative}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить наречие -->
            <form class="modal-content" th:case="'Adverb'" action="#" th:action="@{/word/save?type=adverb}" th:object="${adverb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить наречие?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adverb-id" th:field="*{id}" />
                        <label for="adverb">Наречие</label>
                        <input type="text" class="form-control" id="adverb" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить причастие -->
            <form class="modal-content" th:case="'Participle'" action="#" th:action="@{/word/save?type=participle}" th:object="${participle}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="participle-modal-title">Изменить причастие?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="participle-id" th:field="*{id}" />
                        <label for="participle">Причастие</label>
                        <input type="text" class="form-control" id="participle" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить фразу -->
            <form class="modal-content" th:case="'Phrase'" action="#" th:action="@{/word/save?type=phrase}" th:object="${phrase}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="phrase-modal-title">Изменить фразу?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="phrase-id" th:field="*{id}" />
                        <label for="phrase">Фраза</label>
                        <input type="text" class="form-control" id="phrase" th:field="*{word}" />
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Неизвестный тип -->
            <form th:case="*" action="#" >
            </form>
        </div>
    </div>

    <!-- Удалить слово -->
    <div class="modal" id="word_del">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/del}" th:object="${word}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Удалить слово?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="d_id" th:field="*{id}" />
                    <p id="d_word">Слово</p>
                    <p id="d_type">Тип</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function fillSaveForm(id, word, type) {
            $("#id").val(id);
            $("#word").val(word);
        }

        function fillDelForm(id, word, type) {
            $("#d_id").val(id);
            $("#d_word").text(word);
            $("#d_type").text(type);
        }
    </script>
</body>
</html>