<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить слово</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <div th:insert="menu::links (word_add)" />
    </header>
    <div class="container-fluid">
        <div class="row">
            <div id="tabs" class="col-md-12">
                <ul id="word-tabs" class="nav nav-tabs">
                    <li class="nav-item" role="presentation">
                        <a href="#word-simple" class="nav-link active" data-toggle="tab">Простое слово</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-noun" class="nav-link" data-toggle="tab">Существительное</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-verb" class="nav-link" data-toggle="tab">Глагол</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-adjective" class="nav-link" data-toggle="tab">Прилагательное</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-adverb" class="nav-link" data-toggle="tab">Наречие</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-participle" class="nav-link" data-toggle="tab">Причастие</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#word-phrase" class="nav-link" data-toggle="tab">Фраза</a>
                    </li>
                </ul>

                <div class="tab-content card">
                    <div role="tabpanel" class="tab-pane active" id="word-simple">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/word}" th:object="${word}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="word">Слово</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="word" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="word_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="word_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-noun">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/noun}" th:object="${noun}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="single">Единственное число</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="single"  th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="plural">Множественное число</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="plural" th:field="*{plural}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="noun_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="noun_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-verb">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/verb}" th:object="${verb}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="infinitive">Неопределенная форма</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="infinitive" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="past">Прошедшее время</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="past" th:field="*{past}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="participle2">Причастие прошедшего времени</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="participle2" th:field="*{participle}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="verb_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="verb_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-adjective">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/adjective}" th:object="${adjective}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="positive">Положительная степень</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="positive" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="comparative">Сравнительная степень</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="comparative" th:field="*{comparative}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="superative">Превосходная степень</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="superative" th:field="*{superative}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="adjective_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="adjective_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-adverb">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/adverb}" th:object="${adverb}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="adverb">Наречие</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="adverb" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="adverb_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="adverb_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-participle">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/participle}" th:object="${participle}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="participle">Причастие</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="participle" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="participle_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="participle_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="word-phrase">
                        <form class="form-horizontal" action="#" th:action="@{/word/save/phrase}" th:object="${phrase}" method="POST">
                            <div class="form-group">
                                <label class="col-md-3 col-md-offset-9 control-label" for="phrase">Фраза</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="phrase" th:field="*{word}" />
                                </div>
                                <label class="col-md-3 col-md-offset-9 control-label" for="phrase_tooltip">Перевод-подсказка</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="phrase_tooltip" th:field="*{tooltip}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 col-md-offset-9">
                                    <button class="btn btn-outline-success" type="submit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>