<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотреть слово</title>
    <meta charset="UTF-8">
    <!-- Bootstrap and jQuery -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header>
        <div th:insert="menu::links (word)" />
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" th:switch="${word.class.simpleName}">
                <h1 class="text-center" th:case="'Word'" th:text="${word.word}">Простое слово</h1>
                <h1 class="text-center" th:case="'Noun'" th:text="${noun.word} + ' ' + ${noun.plural}">Существительное</h1>
                <h1 class="text-center" th:case="'Verb'" th:text="${verb.word} + ' ' + ${verb.past} + ' ' + ${verb.participle}">Глагол</h1>
                <h1 class="text-center" th:case="'Adjective'" th:text="${adjective.word} + ' ' + ${adjective.comparative} + ' ' + ${adjective.superative}">Прилагательное</h1>
                <h1 class="text-center" th:case="'Adverb'" th:text="${adverb.word}">Наречие</h1>
                <h1 class="text-center" th:case="'Participle'" th:text="${participle.word}">Причастие</h1>
                <h1 class="text-center" th:case="'Phrase'" th:text="${phrase.word}">Фраза</h1>
                <h1 class="text-center" th:case="*">Неизвестный тип</h1>
            </div>
        </div>
        <dl class="row">
            <dt class="col-md-6">Тип</dt>
            <dd class="col-md-6" th:text="${word.class.simpleName}">Тип</dd>
        </dl>
        <dl class="row">
            <dt class="col-md-1">Перевод</dt>
            <dd class="col-md-11">
                <ul class="list-group" th:each="trans:${word.translations}">
                    <capture>
                        <blockquote class="blockquote text-center">
                            <p class="mb-0" th:text="${trans.description}">Перевод</p>
                            <footer class="blockquote-footer"><cite title="Источник" th:text="${trans.source}">Источник</cite></footer>
                        </blockquote>
                    </capture>
                    <li class="list-group-item" th:each="exmps:${trans.examples}">
                        <dl class="row">
                            <dt class="col-md-6" th:text="${exmps.text1}">Example</dt>
                            <dd class="col-md-6" th:text="${exmps.text2}">Пример</dd>
                        </dl>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="modal" id="word_save">
        <div class="modal-dialog" th:switch="${word.class.simpleName}">
            <!-- Изменить простое слово -->
            <form class="modal-content" th:case="'Word'" action="#" th:action="@{/word/save/word}" th:object="${word}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить слово?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" th:switch="${word.class.simpleName}">
                    <div class="form-group">
                        <input type="text" hidden="true" id="word-id" th:field="*{id}" />
                        <label class="col-md-3 col-md-offset-9 control-label" for="word-word">Слово</label>
                        <div class="col-md-12">
                        <input type="text" class="form-control" id="word-word" th:field="*{word}" />
                        </div>
                        <label class="col-md-6 col-md-offset-6 control-label" for="word-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="word-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить существительное -->
            <form class="modal-content" th:case="'Noun'" action="#" th:action="@{/word/save/noun}" th:object="${noun}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить существительное?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="noun-id" th:field="*{id}" />
                        <label class="col-md-12 control-label" for="single">Единственное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="single"  th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="plural">Множественное число</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="plural" th:field="*{plural}" />
                        </div>
                        <label class="col-md-12 control-label" for="noun-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="noun-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить глагол -->
            <form class="modal-content" th:case="'Verb'" action="#" th:action="@{/word/save/verb}" th:object="${verb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить глагол?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="verb-id" th:field="*{id}" />
                        <label class="col-md-12 control-label" for="infinitive">Неопределенная форма</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="infinitive" th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="past">Прошедшее время</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="past" th:field="*{past}" />
                        </div>
                        <label class="col-md-12  control-label" for="participle2">Причастие прошедшего времени</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="participle2" th:field="*{participle}" />
                        </div>
                        <label class="col-md-12 control-label" for="verb-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="verb-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить прилагательное -->
            <form class="modal-content"  th:case="'Adjective'"action="#" th:action="@{/word/save/adjective}" th:object="${adjective}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить прилагательное?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adjective-id" th:field="*{id}" />
                        <label class="col-md-12 control-label" for="positive">Положительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="positive" th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="comparative">Сравнительная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="comparative" th:field="*{comparative}" />
                        </div>
                        <label class="col-md-12 control-label" for="superative">Превосходная степень</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="superative" th:field="*{superative}" />
                        </div>
                        <label class="col-md-12 control-label" for="adjective-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="adjective-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить наречие -->
            <form class="modal-content" th:case="'Adverb'" action="#" th:action="@{/word/save/adverb}" th:object="${adverb}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Изменить наречие?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="adverb-id" th:field="*{id}" />
                        <label class="col-md-12 control-label" for="adverb">Наречие</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="adverb" th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="adverb-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="adverb-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить причастие -->
            <form class="modal-content" th:case="'Participle'" action="#" th:action="@{/word/save/participle}" th:object="${participle}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="participle-modal-title">Изменить причастие?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="participle-id" th:field="*{id}" />
                        <label class="col-md-12 control-label" for="participle">Причастие</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="participle" th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="participle-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="participle-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Изменить фразу -->
            <form class="modal-content" th:case="'Phrase'" action="#" th:action="@{/word/save/phrase}" th:object="${phrase}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="phrase-modal-title">Изменить фразу?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden="true" id="phrase-id" th:field="*{id}" />
                        <label class="col-md-12  control-label" for="phrase">Фраза</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="phrase" th:field="*{word}" />
                        </div>
                        <label class="col-md-12 control-label" for="phrase-tooltip">Перевод-подсказка</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="phrase-tooltip" th:field="*{tooltip}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
            <!-- Неизвестный тип -->
            <form th:case="*" action="#" >
            </form>
        </div>
    </div>

    <!-- Удалить слово -->
    <div class="modal" id="word_del">
        <div class="modal-dialog">
            <form class="modal-content" action="#" th:action="@{/word/del}" th:object="${word}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Удалить слово?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden="true" id="d_id" th:field="*{id}" />
                    <p id="d_word">Слово</p>
                    <p id="d_type">Тип</p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function fillSaveForm(id, word, type) {
            $("#id").val(id);
            $("#word").val(word);
        }

        function fillDelForm(id, word, type) {
            $("#d_id").val(id);
            $("#d_word").text(word);
            $("#d_type").text(type);
        }
    </script>
</body>
</html>